.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__content
      %h3.Side-bar__user-name__content__name
        = current_user.name
      %ul.Side-bar__user-name__content__icon
        %li.Side-bar__user-name__content__edit__btn
          = link_to "#" do
            = icon('far', 'edit')
        %li.Side-bar__user-name__content__cog__btn
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .Side-bar__group-list
    .Side-bar__group-list__top
      teckcamp
    .Side-bar__group-list__text
      まだメッセージがありません